In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [56]:
data = pd.read_csv('data_uni.csv')
data

,world_rank,institution,country,quality_of_education,quality_of_faculty,influence,patents,Average,rank_by_avg,GRE Score,TOEFL Score,CGPA
0,1,Harvard University,USA,1,1,1,3,1.50,1,337,118,9.65
1,2,Stanford University,USA,9,4,3,10,6.50,3,324,107,8.87
2,3,Massachusetts Institute of Technology,USA,3,2,2,1,2.00,2,316,104,8.00
3,4,University of Cambridge,United Kingdom,2,5,6,48,15.25,10,322,110,8.67
4,5,University of Oxford,United Kingdom,7,10,12,15,11.00,7,314,103,8.21
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,University of the Algarve,Portugal,367,218,845,816,561.50,922,207,82,7.32
996,997,Alexandria University,Egypt,236,218,908,871,558.25,913,206,80,7.06
997,998,Federal University of Ceará,Brazil,367,218,823,824,558.00,912,210,81,7.13
998,999,University of A Coruña,Spain,367,218,974,651,552.50,900,211,79,7.23
999,1000,China Pharmaceutical University,China,367,218,991,547,530.75,851,213,82,7.49

In [57]:
data.describe()

,world_rank,quality_of_education,quality_of_faculty,influence,patents,Average,rank_by_avg,GRE Score,TOEFL Score,CGPA
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,299.839000,194.253000,500.275000,491.674000,371.510250,500.758000,276.994000,96.576000,8.084190
std,288.819436,109.137446,53.709214,288.465949,275.904565,149.470969,288.898913,38.885345,11.239508,0.753866
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.500000,1.000000,190.000000,68.000000,5.600000
25%,250.750000,250.750000,218.000000,250.750000,250.750000,270.500000,251.000000,251.750000,88.000000,7.560000
50%,500.500000,367.000000,218.000000,500.500000,500.500000,400.250000,500.500000,275.000000,96.000000,8.085000
75%,750.250000,367.000000,218.000000,750.250000,749.000000,484.625000,750.250000,313.000000,105.000000,8.612500
max,1000.000000,367.000000,218.000000,991.000000,871.000000,611.750000,1000.000000,340.000000,120.000000,9.920000

In [58]:
data.columns

Index(['world_rank', 'institution', 'country', 'quality_of_education',
       'quality_of_faculty', 'influence', 'patents', 'Average', 'rank_by_avg',
       'GRE Score', 'TOEFL Score', 'CGPA'],
      dtype='object')

In [59]:
x = data[['CGPA','GRE Score','TOEFL Score']]
y = [1 if i <= 8.085000 and j <= 275.000000 and k <= 96.000000 else 0 for i, j, k in zip(data['CGPA'], data['GRE Score'], data['TOEFL Score'])]

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [61]:
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [62]:
model.fit(x_train, y_train)

RandomForestClassifier(random_state=42)

In [63]:
score = model.score(x_test, y_test)
print("Model accuracy: ", score)

Model accuracy:  0.9933333333333333

In [64]:
# Use the trained model to predict
input_value_1 = 8.7
input_value_2 = 240
input_value_3 = 100
prediction = model.predict([[input_value_1, input_value_2, input_value_3]])
filtered_data = data[(data['CGPA'] < input_value_1) & (data['GRE Score'] < input_value_2) & (data['TOEFL Score'] < input_value_3)]
print(f"Values less than {input_value_1 and input_value_2 and input_value_3}: \n{filtered_data}")

Values less than 100:
     world_rank                                   institution   country  \
800         801                       University of Oldenburg   Germany
801         802          Magna Græcia University of Catanzaro     Italy
802         803               National Sun Yat-sen University    Taiwan
803         804  Nanjing University of Science and Technology     China
804         805                      University of Concepción     Chile
..          ...                                           ...       ...
995         996                     University of the Algarve  Portugal
996         997                         Alexandria University     Egypt
997         998                   Federal University of Ceará    Brazil
998         999                        University of A Coruña     Spain
999        1000               China Pharmaceutical University     China

     quality_of_education  quality_of_faculty  influence  patents  Average  \
800                   367                 218        619      816   505.00
801                   367                 218        813      766   541.00
802                   367                 218        950      871   601.50
803                   367                 218        943      694   555.50
804                   367                 218        451      505   385.25
..                    ...                 ...        ...      ...      ...
995                   367                 218        845      816   561.50
996                   236                 218        908      871   558.25
997                   367                 218        823      824   558.00
998                   367                 218        974      651   552.50
999                   367                 218        991      547   530.75

     rank_by_avg  GRE Score  TOEFL Score  CGPA
800          799        237           93  8.45
801          880        224           82  7.67
802          983        216           79  6.80
803          906        222           85  7.47
804          468        214           78  7.01
..           ...        ...          ...   ...
995          922        207           82  7.32
996          913        206           80  7.06
997          912        210           81  7.13
998          900        211           79  7.23
999          851        213           82  7.49

[195 rows x 12 columns]

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [65]:
dfs = pd.DataFrame(filtered_data, columns=['world_rank', 'institution', 'country', 'quality_of_education',
       'quality_of_faculty', 'influence', 'patents', 'Average', 'rank_by_avg',
       'GRE Score', 'TOEFL Score', 'CGPA'])
dfs

,world_rank,institution,country,quality_of_education,quality_of_faculty,influence,patents,Average,rank_by_avg,GRE Score,TOEFL Score,CGPA
800,801,University of Oldenburg,Germany,367,218,619,816,505.00,799,237,93,8.45
801,802,Magna Græcia University of Catanzaro,Italy,367,218,813,766,541.00,880,224,82,7.67
802,803,National Sun Yat-sen University,Taiwan,367,218,950,871,601.50,983,216,79,6.80
803,804,Nanjing University of Science and Technology,China,367,218,943,694,555.50,906,222,85,7.47
804,805,University of Concepción,Chile,367,218,451,505,385.25,468,214,78,7.01
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,University of the Algarve,Portugal,367,218,845,816,561.50,922,207,82,7.32
996,997,Alexandria University,Egypt,236,218,908,871,558.25,913,206,80,7.06
997,998,Federal University of Ceará,Brazil,367,218,823,824,558.00,912,210,81,7.13
998,999,University of A Coruña,Spain,367,218,974,651,552.50,900,211,79,7.23
999,1000,China Pharmaceutical University,China,367,218,991,547,530.75,851,213,82,7.49

In [66]:
#dfs.to_csv('data_uni2.csv')

In [67]:
data['country'].unique()

array(['USA', 'United Kingdom', 'Japan', 'Switzerland', 'Israel',
       'South Korea', 'Canada', 'France', 'China', 'Taiwan', 'Russia',
       'Singapore', 'Sweden', 'Denmark', 'Germany', 'Belgium',
       'Netherlands', 'Australia', 'Norway', 'Finland', 'Italy', 'Spain',
       'Brazil', 'South Africa', 'Hong Kong', 'Ireland', 'Austria',
       'Portugal', 'New Zealand', 'Czech Republic', 'Greece', 'Thailand',
       'Mexico', 'India', 'Argentina', 'Chile', 'Poland', 'Hungary',
       'Iceland', 'Turkey', 'Malaysia', 'Slovenia', 'Estonia', 'Croatia',
       'Saudi Arabia', 'Colombia', 'Lebanon', 'Slovak Republic', 'Iran',
       'Serbia', 'Lithuania', 'Egypt', 'Bulgaria', 'Uruguay', 'Uganda',
       'Cyprus', 'United Arab Emirates', 'Puerto Rico', 'Romania'],
      dtype=object)

In [68]:
data['country'].unique().shape

(59,)

In [69]:
country_arr = [['USA', 'United Kingdom', 'Japan', 'Switzerland', 'Israel',
       'South Korea', 'Canada', 'France', 'China', 'Taiwan', 'Russia',
       'Singapore', 'Sweden', 'Denmark', 'Germany', 'Belgium',
       'Netherlands', 'Australia', 'Norway', 'Finland', 'Italy', 'Spain',
       'Brazil', 'South Africa', 'Hong Kong', 'Ireland', 'Austria',
       'Portugal', 'New Zealand', 'Czech Republic', 'Greece', 'Thailand',
       'Mexico', 'India', 'Argentina', 'Chile', 'Poland', 'Hungary',
       'Iceland', 'Turkey', 'Malaysia', 'Slovenia', 'Estonia', 'Croatia',
       'Saudi Arabia', 'Colombia', 'Lebanon', 'Slovak Republic', 'Iran',
       'Serbia', 'Lithuania', 'Egypt', 'Bulgaria', 'Uruguay', 'Uganda',
       'Cyprus', 'United Arab Emirates', 'Puerto Rico', 'Romania']]